* {
  margin: 0;
  padding: 0;
}

.main-menu {
  /* margin: 20px; */
  list-style-type: none;
  background: #554f4fe6;
}

.main-menu li {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}

.main-menu a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  width: 100%;
  display: inline-block;
}

.main-menu li:hover {
  background: black;
}
/* 
.header {
  position: fixed;
  width: 100%;
  top: 0;
} */

h2#home-page {
  margin-top: 40px;
}
.header-wrapper {
  position: relative;
  /* border: 1px solid red; */
}
.tool-tip {
  padding: 10px;
  width: 25%;
  display: none;
  position: absolute;
  top: 13px;
  left: 170px;
  background: gray;
}

.my-site:hover + .tool-tip {
  display: block;
}

.footer {
  text-align: center;
  margin-top: 20px;
}
