.todo-container {
  margin: 10px 5px;
}

form {
  padding: 10px 0;
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #bcb8b8;
  color: white;
}

.btn:hover {
  background: #494444;
}
.todo-list .btn {
  margin: 0 3px;
}

.save-btn {
  display: none;
}

.edit-input {
  display: none;
}

.error {
  border: 1px solid red;
}

.todo-id {
  display: none;
}
